@using Interfleet.XIUserManagement.Models
@using Microsoft.AspNetCore.Http;
@model Tuple<List<Users>, Search>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<br />
@* <partial name="_pager" model="@pager" /> *@

<h5>List of Users</h5>
<a class='btn btn-primary btn-sm' href='Create'>New user</a>
<a class='btn btn-primary btn-sm' href='/Home/Index'>Home</a>
<br />
<br />
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                <span><b>Serach by:</b></span>
                @Html.RadioButton("searchBy", "UserName", true)
                <text>User Name</text>
                @Html.RadioButton("searchBy", "Company", false)
                <text>Company</text>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control" name="searchValue" placeholder="Enter search value" asp-for="Item2.SearchValue" value="@Model.Item2.SearchValue">
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <button value="Search" asp-action="Search" asp-controller="User" class="btn btn-primary">Submit</button>
            </td>
        </tr>
    </table>
    @if (Model != null && Model.Item2.ErrorMessage != null && Model.Item2.ErrorMessage.Length > 0)
    {
        <strong class="text-danger">@Model.Item2.ErrorMessage</strong>

    }
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Company</td>
                <td>@item.Comments</td>
                <td>
                    <a class="btn btn-primary btn" href="Edit?userId=@item.UserId">Edit</a>
                    <a class="btn btn-primary btn" href="Delete?userId=@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>
<partial name="_pager" model="@pager" />