@using Interfleet.XIUserManagement.Models
@using Microsoft.AspNetCore.Http;
@model List<Interfleet.XIUserManagement.Models.Users>
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<br />
@* <partial name="_pager" model="@pager" /> *@
<br />
<h5>List of Users</h5>
<a class='btn btn-primary btn-sm' href='/Home/Index'>Home</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Company</td>
                <td>@item.Comments</td>
            </tr>
        }
    </tbody>
</table>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>
<partial name="_pager" model="@pager" />