@using Interfleet.XIUserManagement.Models
@using Microsoft.AspNetCore.Http;
@model Tuple<List<Users>, Search,Pager>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }

}
<br />
<div class="container btn-group" border-radius: 25px; height:45px;">
    <div class="col-4 p-0 justify-content-end mt-1">
        <h5>List of Users</h5>
        <a class='btn btn-primary btn-sm' href='/Home/Index'>Home</a>
    </div>
</div>
<br />
<br />

<partial name="_pager" model="@pager" />

@if (Model.Item2 != null && Model.Item2.ErrorMessage != null && Model.Item2.ErrorMessage.Length > 0)
{
    <strong class="text-danger">@Model.Item2.ErrorMessage</strong>

}

<br />
<table class="table" style="border-color:white">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Company</td>
                <td>@item.Comments</td>
                <td class="col-3 p-0 justify-content-end mt-1">
                    <a class="btn btn-primary btn" asp-route-SearchValue="@Model.Item3.SearchValue" asp-route-SearchBy="@Model.Item3.SearchBy" asp-route-pageSize="@Model.Item3.PageSize" asp-controller="User" asp-action="View" asp-route-userId="@item.UserId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>