@using Interfleet.XIUserManagement.Models
@using Microsoft.AspNetCore.Http;
@model Tuple<Users, Search,Pager>
@{
}
<br>

<div class="red col-lg-12 col-lg-offset-3 text-center">
    <h3>User details</h3>
</div>
<form method="post">
    <input type="hidden" class="form-control" name="userId" asp-for="Item1.UserId" value="@Model.Item1.UserId">
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label">UserName</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="username" asp-for="Item1.UserName" value="@Model.Item1.UserName" readonly>
            <span asp-validation-for="Item1.UserName"></span>
        </div>
    </div>
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label">Company</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="company" asp-for="Item1.Company" value="@Model.Item1.Company" readonly>
            <span asp-validation-for="Item1.Company"></span>
        </div>
    </div>
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label">Comments</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="comments" asp-for="Item1.Comments" value="@Model.Item1.Comments" readonly>
            <span asp-validation-for="Item1.Comments"></span>
        </div>
    </div>
    <br />
    <div class="row-cols-md-5">
        <div>
            <a class="btn btn-success" asp-controller="User" asp-action="Index" role="button" asp-route-SearchValue="@Model.Item3.SearchValue" asp-route-SearchBy="@Model.Item3.SearchBy" asp-route-pageSize="@Model.Item3.PageSize">Go back</a>
        </div>
    </div>
    <br />
    @if (Model != null && Model.Item1.SuccessMessage != null && Model.Item1.SuccessMessage.Length > 0)
    {
        <div class="success">
            <strong>@Model.Item1.SuccessMessage</strong>
        </div>
    }
</form>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>