@model Interfleet.XIUserManagement.Models.ChangePasswordModel;
@{
}
<br>
<h2>Change password</h2>
@if (Model != null && Model.ErrorMessage != null && Model.ErrorMessage.Length > 0)
{
    <div class="col-lg-12 col-lg-offset-3 text-center" role="alert">
        <strong>@Model.ErrorMessage</strong>
    </div>
}
<form method="post">
    <input type="hidden" class="form-control" name="userId" asp-for="UserId" value="@Model.UserId">
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label"> Current Password</label>
        <div class="col-sm-3">
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
            <span asp-validation-for="CurrentPassword"></span>
        </div>
    </div>
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label"> New Password</label>
        <div class="col-sm-3">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div class="row-mb-3">
        <label class="col-sm-3 col-form-label">Confirm New Password</label>
        <div class="col-sm-3">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <br />
    <div class="row-cols-md-2">
        <div>
            <button asp-action="Submit" asp-controller="ChangePassword" class="btn btn-outline-primary">Change password</button>
            <button asp-action="Index" asp-controller="User" class="btn btn-outline-primary">Back to user list</button>
        </div>
    </div>
    <br />
    @if (Model != null && Model.SuccessMessage != null && Model.SuccessMessage.Length > 0)
    {
        <div class="success">
            <strong>@Model.SuccessMessage</strong>
        </div>
    }
    <br />
    @* <a class="btn btn-success" asp-controller="User" asp-action="Edit" role="button">Back to edit page</a> *@

</form>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>