@using Interfleet.XIUserManagement.Models
<table>
    <tr>
        <b>Pages</b>
    </tr>
    @if (Model.TotalPages > 0)
    {
        <tr>
            @if (Model.CurrentPage > 1)
            {
                <td class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-pg="1"
                       asp-route-SearchValue="@Model.SearchValue" asp-route-SearchBy="@Model.SearchBy" asp-route-pageSize="@Model.PageSize">First</a>
                </td>
                <td>
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-pg="@(Model.CurrentPage - 1)"
                       asp-route-SearchValue="@Model.SearchValue" asp-route-SearchBy="@Model.SearchBy" asp-route-pageSize="@Model.PageSize">Previous</a>
                </td>
            }
            @for (var pge = Model.StartPage; pge <= Model.EndPage; pge++)
            {
                <td>
                <td class="page-item @(pge == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-pg="@pge"
                       asp-route-SearchValue="@Model.SearchValue" asp-route-SearchBy="@Model.SearchBy" asp-route-pageSize="@Model.PageSize"> @pge </a>
                </td></td>

            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <td class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-SearchValue="@Model.SearchValue" asp-route-SearchBy="@Model.SearchBy" asp-route-pg="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                </td>
                <td>
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-SearchValue="@Model.SearchValue" asp-route-SearchBy="@Model.SearchBy" asp-route-pg="@(Model.TotalPages)" asp-route-pageSize="@Model.PageSize">Last</a>
                </td>
            }
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                <span><b>Rows Per Page</b></span>

            </td>
            <td>
                <select class="form-control" id="pageSelector" asp-items="@ViewBag.PageSizes"
                        onchange="ChangePageSize(this,'@Model.SearchValue','@Model.SearchBy');">
                </select>
            </td>
        </tr>
    }
</table>

<input name="pageSize" type="hidden" value="@Model.PageSize" />

<div class="clearfix">
    <p></p>
</div>

<script>
    function ChangePageSize(obj, searchtext, searchby) {
        window.location.href = "/@Model.Controller/@Model.Action" + "?pageSize=" + obj.value + "&SearchValue=" + searchtext + "&SearchBy=" + searchby;
    }
</script>
<script>
    function DisableBackButton() {
        window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
    window.onload = function () { void (0) }
</script>
